body {
    background-color: #fff;
    color: #000000;
    margin: 5% 15%;
}

header {
    font-size: 125%;
    font-weight: bold;
    padding: 10px 10px 10px 0;
    border-bottom: 1px dotted #aaa;
}

footer {
    font-size: 80%;
    margin-top: 50px;
    text-align: right;
}
